.tools {
  text-align: center;
}

.tools .container {
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  gap: 38px;
}

.container .tool {
  max-width: 350px;
}

.container .tool img{
  margin-bottom: 35px;
}

.container .tool h5 {
  color: var(--Dark-Grayish-Blue);
  font-size: 1.2rem;
  margin-bottom: 20px;
}
