.brands {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 80px;
  padding: 9em 0;
}

.brands .brand img {
  width: 90%;
  margin: auto;
}
